body
{
    align-items: center;
    text-align: center;
    background-color:#1a86238e;
}

.texto5
{
    text-align: end;
    font-size: x-small;
}

.texto8
{
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
}

.texto9
{
    list-style-type: disc;
    text-align: start;
    list-style-position:inside;
    font-size: x-large;
    transform: rotate(320deg);
}

.texto10
{
    color: rgb(170, 57, 204);
    font-family: fantasy;
    font-style: oblique;
    transform: rotate(40deg);
    font-size: xx-large;
}